:root {
    --dark-cyan-color: hsl(158, 36%, 37%);
    --cream-color: hsl(30, 38%, 92%);
    --dark-blue-color: hsl(212, 21%, 14%);
    --dark-grayish-blue-color: hsl(228, 12%, 48%);
    --white-color: hsl(0, 0%, 100%);
    --active-dark-cyan-color: hsl(156, 42%, 18%);
}

* {
    margin: 0;
    padding: 0;
  }
  
*, *::before, **::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cream-color);
}

.main-container {
    background-color: var(--white-color);
    border-radius: 10px;
    width: fit-content;
    margin: 10% auto;

}

figure {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    box-sizing: border-box;
    }

img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}    
    
figcaption {
    display: flex;
    margin:  10%;
    /* align-self: center; */
    line-height: 24px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    flex-direction: column;
    }

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-bottom: 30px;
}

p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--dark-grayish-blue-color);
    margin-bottom: 30px;
}

.perfume {
    letter-spacing: 3px;
    /* margin-top: 25px; */
}

.price{
    display: flex;
}

.discount-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2em;
    color: var(--dark-cyan-color);
}

.old-price {
    text-decoration: line-through;
    margin-left: 40px;
}

button {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--dark-cyan-color);
    color: var(--white-color);
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
}

button:active{
    background-color: var(--active-dark-cyan-color);
}